*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  text-align: center;
  background-color: #f2f2f2;
}

.img {
  max-width: 100%;
  object-fit: contain;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.more-button {
  display: inline-block;
  width: 140px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}

.button-subscribe {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 70px;
  column-gap: 44px;
}

.navigation-logo {
  margin-bottom: -6px;
  align-self: flex-start;
  flex-shrink: 0;
}

.page-header-logo {
  display: block;
  width: 140px;
  aspect-ratio: 100/50;
}

.navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  column-gap: 20px;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list:first-child {
  margin-right: auto;
  flex-wrap: wrap;
  column-gap: 32px;
}

.navigation-link {
  position: relative;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
}

.navigation-user {
  flex-wrap: wrap;
  justify-content: flex-end;
  align-self: flex-start;
}

.navigation-user
.navigation-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 44px;
  min-height: 64px;
  margin: 0;
  padding: 20px 12px;
}

.favorite-results {
  position: absolute;
  left: 20px;
  bottom: 33px;
  display: block;
  min-width: 20px;
  min-height: 20px;
  padding: 5px 4px;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  background-color: #7db54f;
}

.button-nav {
  min-width: 160px;
  margin-left: 20px;
  padding: 8px 34px;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
}

.main-container {
  flex-grow: 1;
}

.hero {
  display: block;
  width: 1200px;
  height: 485px;
  background-image: url("../images/divider-background.svg"), url("../images/index-background-main.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  background-color: #82B3D3;
}

.hero-image {
  margin: 51px auto 82px;
}

.advantages-lead,
.reasons-title-main,
.search-description-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-lead-first {
  margin-bottom: 25px;
}

.advantages-text,
.reasons-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: rgba(51, 51, 51, 1);
}

.advantages-container,
.reasons-container {
  padding-left: 70px;
  padding-right: 70px;
  margin: 69px auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 21px;
}

.advantages-item {
  display: flex;
  justify-content: center;
  width: 400px;
  min-height: 385px;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(5) {
  color: #fff;
  background-color: #82B3D3;
  width: 1200px;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-wrap {
  width: 235px;
  padding: 85px 84px;
  margin: auto;
}

.advantages-title {
  margin: 0 auto 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.divider {
  width: 60px;
  height: 2px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item:first-child .divider,
.advantages-item:last-child .divider {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-description {
  margin: 30px auto auto;
}

.advantages-item:nth-child(2) .advantages-description,
.advantages-item:nth-child(3) .advantages-description,
.advantages-item:nth-child(4) .advantages-description {
  color: rgba(51, 51, 51, 1);
}

.advantages-image-last {
  order: -1
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
}

.reasons-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 385px;
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: 50% 81px;
}

.reasons-item:nth-child(1),
.reasons-item:nth-child(3) {
  background-color: #83B3D31F;
}

.reasons-description {
  width: 230px;
  margin: 0;
  padding-bottom: 81px;
  color: rgba(51, 51, 51, 1);
}

.reasons-title {
  display: block;
  width: 230px;
  margin: 183px auto 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-container {
  padding-left: 70px;
  padding-right: 70px;
  margin: 96px auto;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 54px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  min-height: 415px;
  padding-right: 70px;
  padding-left: 70px;
}

.subscribe-container {
  margin: 96px auto 54px;
}

.subscribe-background {
  background-color: #82B3D3;
  color: #ffffff;
  background-image: url("../images/background-subscribe-main.jpg");
  background-size: 1200px 415px;
  background-position: center;
  background-repeat: no-repeat;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.email-input {
  width: 452px;
  min-height: 52px;
  margin: 0;
  padding: 14px 20px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: rgba(242, 242, 242, 1);
  cursor: pointer;
}

.subscribe-form .button {
  border-radius: 0 4px 4px 0;
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  background-color: #82B3D3;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  width: 1060px;
  padding: 40px 70px 30px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 145px;
}

.social-item {
  position: relative;
  width: 48px;
  height: 41px;
}

.social-link {
  position: absolute;
  width: 48px;
  height: 41px;
}

.contact {
  display: inline-block;
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-decoration: none;
  word-break: break-all;
  color: #000000;
}

.inner-nav {
  width: 1060px;
  margin-bottom: 40px;
}

.inner-background {
  background: url("../images/background-inner-hero.jpg") no-repeat;
}

.inner-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.breadcrumbs-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #ffffff;
}

.infrastructure {
  width: 151px;
  margin-right: 70px;
}

.housing-type {
  width: 151px;
  margin-right: 140px;
}

.regulate-prices {
  width: 288px;
  margin-right: 70px;
}

.filter-button {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  padding: 8px 50px;
  justify-content: center;
  width: 191px;
  height: 36px;
  border-radius: 4px;
  background-color: transparent;
  border: none;
}

.active-filter-button {
  background: #82b3d3;
}

.catalog {
  width: 1060px;
}

.catalog-title {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-select {
  border: radius 4px;
  color: #333333;
}

.catalog-view {
  text-decoration: none;
  border-radius: 4px;
  border: #e5e5e5;
}

.catalog-view-selected {
  border-radius: 4px;
  border: 2px solid #000000;
}

.hotel-list {
  display: grid;
  grid-template-columns:repeat(3, 340px) ;
  gap: 20px;
  margin-bottom: 40px;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px repeat(4, auto);
  grid-template-areas:
  "image image"
  "title title"
  "text price"
  "more favorite"
  "stars rating";
  gap: 16px 20px;
  width: 300px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-card-image {
  grid-area: image;
}

.hotel-card-title {
  grid-area: title;
  justify-self: start;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotel-card-text {
  grid-area: text;
  justify-self: start;
  margin: 0;
}

.hotel-card-price {
  grid-area: price;
  justify-self: end;
  margin: 0;
}

.hotel-card-price {
  grid-area: price;
  justify-self: end;
  margin: 0;
}

.more-button {
  padding: 8px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "PT Sans";
  border-radius: 4px;
  background: #756157;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  grid-area: more;
}

.favorite-card {
  align-items: center;
  grid-area: like;
  color: #ffffff;
  text-align: center;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 4px;
  background: #82b3d3;
  border: none;
  text-transform: uppercase;
}

.favorite-card-select {
  background: #7db54f;
}

.card-rating {
  color: #333333;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
}

.pagination {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  gap: 8px;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.pagination-item {

  align-items: center;
  border-radius: 4px;
  background: #82b3d3;
}

.pagination-item-more {
  background-color: transparent;
}

.pagination-more {
  text-decoration: none;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  min-width: 60px;
  padding: 12px 24px;
  text-decoration: none;
  color: #ffffff;
}

.pagination-current {
  background-color: #e6e6e6;
}

.pagination-link-current {
  color: #000000;
}

.subscribe-catalog {
  color: #000000;
  background: #ffffff;
}

.subscribe-title-catalog {
  color: #000000;
}

.subscribe-description-catalog {
  color: #333333;
}
