
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
/*
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
}

.button {
  font-family: inherit;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.button-nav{
  padding: 8px 50px;
}

.navigation-list,
.navigation-user {
  list-style: none;
}

.navigation-link,
.navigation-user-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
}

.hero {
  background-image: url("../images/divider-background.svg"), url("../images/index-background-main.jpg");
  background-size: 100% auto cover;
  background-repeat: no-repeat;
  background-position: left bottom left top;
  background-color: #82B3D3;
}

.advantages-list,
.reasons-list {
  text-align: center;
  list-style: none;

}

.advantages-lead {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages-text,
.reasons-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}


.advantages-item:first-child,
.advantages-item:last-child {
  color:#fff;
  background-color: #82B3D3;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(4) {
  background-color: #83B3D31F;
}

.advantages-item:nth-child(3) {
  background-color: #83B3D333;
}

.advantages-description-dark
.reasons-description {
  color: #333333;
}

.advantages-title,
.reasons-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.reasons-title-main {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.reasons {
  text-align: center;
}

.reasons-item:nth-child(1),
.reasons-item:nth-child(3) {
  background-color: #83B3D31F;
}

.search {
  text-align: center;
}

.search-description-tittle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.button-search {
  padding: 8px 50px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.subscribe {
  background-color: #82B3D3;
  color: #ffffff;
  background-image: url("../images/background-subscribe-main.jpg");
  align-items: center;
  text-align: center;
}

.subscribe-title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-email {
  font-size: 18px;
  line-height: 24px;
}

.email-input {
  border-radius: 4px 0 0 4px;
  border: none;
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  background-color: #82B3D3;
}

.page-footer {
  height: 120px;
  padding: 40px 70px 40px 70px;
}
.contact {
  color: #000000;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}
.social-list {
  list-style: none;
  align-items: center;
}

.inner-background {
  background: url("../images/background-inner-hero.jpg") no-repeat;
}

.inner-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-list {
  list-style: none;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

.catalog-filter-list {
  list-style: none;
  color: #ffffff;
}

.filter-button {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  padding: 8px 50px;
  justify-content: center;
  width: 191px;
  height: 36px;
  border-radius: 4px;
  background-color: transparent;
  border: none;
}

.active-filter-button {
  background: #82b3d3;
}

.catalog-title {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-select {
  border: radius 4px;
  color: #333333;
}

.catalog-view {
  text-decoration: none;
  border-radius: 4px;
  border: #e5e5e5;
}

.catalog-view-selected {
  border-radius: 4px;
  border: 2px solid #000000;
}

.hotel-list {
  list-style: none;
}

.hotel-card-title {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotel-card-text {
  text-align: left;
  color: #333333;
}

.hotel-card-price {
  color: #333333;
}

.more-button {
  padding: 8px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
 font-family: "PT Sans";
  border-radius: 4px;
  background: #756157;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  grid-area: more;
}

.favorite-card {
  align-items: center;
  grid-area: like;
  color: #ffffff;
  text-align: center;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 4px;
  background: #82b3d3;
  border: none;
  text-transform: uppercase;
}

.favorite-card-select {
  background: #7db54f;
}

.card-rating {
  color: #333333;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
}

.pagination {
  list-style: none;
}

.pagination-item {
  align-items: center;
  border-radius: 4px;
  background: #82b3d3;
}
.pagination-item-more {
  background-color: transparent;
}
.pagination-link {
  text-decoration: none;
  color: #ffffff;
}
.pagination-current {
  background-color: #e6e6e6;
}
.pagination-link-current {
  color: #000000;
}

.subscribe-catalog {
  color: #000000;
  background: #ffffff;
}

.subscribe-title-catalog {
  color: #000000;
}

.subscribe-description-catalog {
  color: #333333;
}
